#overview-map {
  height: 500px;
  width: 100%;
}
#filter-info:empty {
  display:none;
}
#filter-error:empty {
  display:none;
}
#overview-map svg path {
  pointer-events: all;
}
.leaflet-container {
    background-color:rgba(255,255,255,0.0);
}
.country {
  stroke-width: 1;
  stroke: #5B5B5B;
  fill: #B3B3B3;
  cursor: pointer;
  pointer-events: all;
  stroke-linecap: round;
}
.country.hasAppeal {
  fill: #828282;
}
.country.highlight {
  stroke-width: 2;
  stroke: #000000;
}
.country.filter-active {
  stroke: yellow;
}
#tooltip {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 4px 6px;
    max-width: 300px;
}
#tooltip:empty {
    display:none;
}
.bar-graph-div {
   border:1px solid black;
   display:inline-block;
   height:15px;
}
.clickable {
  cursor: pointer;
}
.filter-region.filter-active p {
  color: #08306b ;
  font-weight: 900 ;
  font-size: 16px ;
}
.filter-startYear rect {
  fill: #1d91c0;
}
.filter-startYear text {
  font-size: 11px;
  font-family: inherit;
}
.filter-startYear text.year-label {
  text-anchor: end;
  fill: black;
}
.filter-startYear text.year-total {
  text-anchor: start;
  fill: black;
}
.filter-startYear.filter-active text.year-label{
  fill: #08306b ;
  font-weight: 900 ;
  font-size: 14px ;
}


