#overview-map {
  height: 500px;
  width: 100%;
}
#overview-map svg path {
  pointer-events: all;
}
.leaflet-container {
    background-color:rgba(255,255,255,0.0);
}
.country {
  stroke-width: 1;
  stroke: #5B5B5B;
  fill: #A9A9A9;
  cursor: pointer;
  pointer-events: all;
  stroke-linecap: round;
}
.country.highlight {
  stroke-width: 2;
  stroke: #000000;
}
.country.filter-active {
  stroke: yellow;
}
#tooltip {
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 4px 6px;
    max-width: 300px;
}
#tooltip:empty {
    display:none;
}
.bar-graph-div {
   border:1px solid black;
   display:inline-block;
   height:15px;
}
.filter-startYear.filter-active {
  color: red;
}
.clickable {
  cursor: pointer;
}

#chart_start-year  rect {
  fill: #1d91c0;
}
#chart_start-year  text {
  font-size: 11px;
  font-family: inherit;
}
#chart_start-year  text.year-label {
  text-anchor: end;
  fill: black;
}
#chart_start-year  text.year-total {
  text-anchor: start;
  fill: black;
}


